@import '../styles/variables';

.footer{
    padding-bottom: 56px;
    @include breakpoint(lg) {
        padding-bottom: 36px;
    }
    @include breakpoint(md) {
        padding-bottom: 35px;
    }
    @include breakpoint(md) {
        padding-bottom: 42px;
    }
    @include breakpoint(md) {
        padding-bottom: 34px;
    }
    @include breakpoint(xxs) {
        background-color: $xs-size-bg;
        margin-top: 24px;
    }
    
    &__up {
        display: flex;
        width: 100%;
        padding: 48px;
        @include breakpoint(md){
            display: flex;
            flex-direction: column;
            padding-top: 54px;
        }
        @include breakpoint(sm){
            display: flex;
            flex-direction: column;
            padding-top: 30px;
        }
    }
    &__nav {
        display: flex;
        div {
            margin-right: 72px;
            position: relative;
            display: block;
            cursor: pointer;
            @include breakpoint(md){
                margin-bottom: 28px;
            }

            .triangle-up-dark {
                display: none;
                @include breakpoint(md){
                    display: inline-block;
                    margin-left: 13px;
                    top: 24px;
                }
            }
            .triangle-down-gray{
                display: none;
                @include breakpoint(md){
                    display: inline-block;
                    margin-left: 13px;
                    top: 30px;
                }
            } 
        }
        h3 {
            cursor: pointer;
            font-size: 20px;
            color: $main-dark;
            font-weight: $bold;
            @include breakpoint(md){
                display: inline;
                color: $main-grey;
            }
        }
        ul {
            margin-top: 24px;
            @include breakpoint(md){
                padding: 0 24px 24px 24px;
            }
        }
        li {
            line-height: 22px;
            margin-top: 12px;

        }
        @include breakpoint(md){
            flex-direction: column;
        }
    }
    &-apple-google-btn{
        padding: $padding-vertical 0;
        display: flex;
        .apple, .google{
            margin-right: 16px;
            @include breakpoint(xxs){
                margin-bottom: 16px;
            }
        }
        @include breakpoint(xxs){
            flex-direction: column;
            padding-top: 28px;
        }
    }

    .lang-plus-social{
        display: flex;
        flex: 1;
        justify-content: space-between;
        
        @include breakpoint(md){
            width: 100%;
            border-top: 1px solid $main-grey;
            border-bottom: 1px solid $main-grey;
        }
        @include breakpoint(xxs){
            flex-direction: column;
            padding: 34px 0 28px 0; 
        }
        .footer__social{
            @include breakpoint(md){
                order:1;
            }
        }
        .social-icons{
            display: flex;

            div {
                height: 40px;
                width: 40px;
                border-radius: 100%;
                background-color: $secondary-grey;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 24px 16px 0 0;
                @include breakpoint(xxs){
                background-color: #000;
                }
                i{
                    color: $main-dark;
                    font-size: 20px;
                    @include breakpoint(xxs){
                        color: $secondary-grey;
                        }
                }
                &:nth-child(5){
                    margin-right: 0;
                }
            }    
            
        }
    }


    &-rights{
        width: 100%;
        p {
            font-size: 14px;
            margin-bottom: 16px;
            font-weight: $regular;
        }
        @include breakpoint(xxs){
            color: #eaeaea;
        }
    }
    &-cards {
        display: flex;
        div {
            margin-right: 16px;
        }
    }


    .footer__information ul, .footer__individuals ul, .footer__business ul, .footer__company ul, .footer__social h3{
        @include breakpoint(md){
            display: none;
        }
    }
}
.active-footer-menu{
    color: $main-dark !important;
    @include breakpoint(xxs) {
        color: $secondary-grey;
    }
}



