@import '../styles/variables';


.header {
    background: $main-dark;
    color: $white;

}
.header__logo{
    margin-right: 64px;
}
.header__wrapper {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left{
    display: flex;

}
.header__right{
    display: flex;
}

.header__left__nav, .header__right__nav{
    display: flex;
    align-items: center;
    margin-right: 64px;

}
.header__left__item a, .header__right__item a{
    color: $white;
    font-size: 14px;
    font-weight: 700;
    margin-right: 36px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 19px 0;
}

.header__left__nav a:hover, .header__right__nav a:hover{
    color: $main-green;
    border-bottom: 4px solid $main-green;
}


.header__account{
    display: flex;
}

.login__btn a{
    color: $white;
    margin-right: 36px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 10px;
}
.login__btn a:hover {
    background-color: $main-green;
    border: 1px solid $main-green;
}

.header__right__btn--active{
    color: $main-green !important;
    border-bottom: 4px solid $main-green;
}