@import '../styles/variables';

.join{
    margin-top: 48px;
    padding: 24px;
    height: 266px;
    background-color: $main-green;
    text-align: center;
    color: $white;
    &-title{
        margin-top: 24px;
        font-weight: normal;
        font-size: 32px;
        span{
            font-weight: 700;
        }
    }
    &-text{
        margin: 16px 0 48px 0;
    }
    &-btn {
        a{
            color: $white;
            text-decoration: none;
            background-color: $main-dark;
            border-radius: 4px;
            padding: 11px 24px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}