@import '../styles/variables';

.join{
    margin: 48px -24px;
    padding: 48px 0;
    background-color: $main-green;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    &__title{
        font-weight: normal;
        font-size: 32px;
        span{
            font-weight: 700;
        }
    }
    &__text{
        margin: 16px 0 48px 0;
        font-size: 20px;
        text-align: center;
        @include breakpoint(md){
            width: 652px;
            
        }
        @include breakpoint(sm){
            width: 472px;
            
        }
        @include breakpoint(xs){
            width: 312px;
            
        }
    }
    &__btn {
        a{
            color: $white;
            text-decoration: none;
            background-color: $main-dark;
            border-radius: 4px;
            padding: 11px 24px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}