@import '../styles/variables';

.news__header__logo {
    width: 400px;
    margin: 48px auto;
    text-align: center;

    img {
        margin-bottom: 12px;
    }
    h1{
        font-size: 20px;
        font-weight: 700;
    }
}
.news__content-row{
    display: flex;
    flex-wrap: wrap;
    div:nth-child(4n + 0){
        margin-right: 0;
    }
}

.news__item{
    max-width: 255px;
    min-width: 382px;
    box-shadow: 0px 12px 24px $news-card-shadow;
    border-radius: 4px;
    margin: 0 24px 24px 0;

    &-bottom{
        padding: 0 24px 24px 24px;
    }
    &-image{

        img {
        margin-bottom: 24px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        }
    }
    &-title{
        font-size: 24px;
        color: $main-dark;
        margin-bottom: 13px;
    }
    &-date{
        margin-bottom: 25px;
    }
    &-text{
        margin-bottom: 25px;
        font-weight: 500;
        font-size: 16px;
        color: $main-grey;
    }
    &-btn{
        a {
            height: 20px;
            display: flex;
            align-items: center;
            color: $news-block-green;
            font-weight: 500;
            img{ 
                height: 12px;
                width: 14px;
                margin-left: 13px;
            }

        }
    }
}

.news__load-more {
    display: flex;
    justify-content: center;
    margin: 24px;
    a{
        text-decoration: none;
        color: $news-block-green;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
        line-height: 16.8px;
        border: 1px solid $news-block-green;
        border-radius: 4px;
        padding: 11.5px 24px;
    }
}
