@import '../styles/variables';

.news{
    &__header-logo {
        margin: 0 auto;
        padding-top: $padding-vertical;
        padding-bottom: $padding-vertical;
        text-align: center;
        img {
            margin-bottom: 12px;
            width: 208px;
            @include breakpoint(md){
                width: 146px;
            }
        }
        h1{
            font-size: 20px;
            font-weight: $bold;
        }
    }
    &__content-row{
        display: flex;
        flex-wrap: wrap;
        margin-right: -24px;
        .news__item{
            max-width: 382px;
            box-shadow: 0px 12px 24px $news-card-shadow;
            border-radius: $border-radius;
            margin: 0 24px 24px 0;
            @include breakpoint(xl){
                max-width: 382px;
            }
            @include breakpoint(lg){
                max-width: 411px;
                &:nth-child(2){
                    max-width: 410px;
                }
                &:nth-child(3n + 5){
                    max-width: 410px;
                }
            }
            @include breakpoint(md){
                max-width: 272px;
                &:nth-child(2){
                    max-width: 272px;
                }
                &:nth-child(3n + 5){
                    max-width: 272px;
                }
            }
            @include breakpoint(sm){
                max-width: 338px;
                &:nth-child(2){
                    max-width: 338px;
                }
                &:nth-child(3n + 5){
                    max-width: 338px;
                }
            }
            



            /*
            @include breakpoint(sm){
                min-width: 472px;
    
            } 
            @include breakpoint(xs){
                min-width: 312px;
            } */
        
            &-bottom{
                padding: 24px;
            }
            &-image{
                img {
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                @include breakpoint(lg){
                    min-width: 100%;
                }
                @include breakpoint(md){
                    max-width: 100%;
                }

        
                }
            }
            &-title{
                font-size: 24px;
                font-weight: $bold;
                color: $main-dark;
                margin-bottom: 13px;
            }
            &-date{
                margin-bottom: 24px;
            }
            &-text{
                margin-bottom: 24px;
            }
            &-btn{
                a {
                    height: 20px;
                    display: flex;
                    align-items: center;
                    color: $news-block-green;
                    font-weight: 500;
                    img{ 
                        height: 12px;
                        width: 14px;
                        margin-left: 13px;
                    }
        
                }
            }
        }

    }

    &__load-more {
        display: flex;
        justify-content: center;
        padding-top: $padding-vertical;
        padding-bottom: $padding-vertical;
        font-size: 14px;
        a {
            text-decoration: none;
            color: $news-block-green;
            text-transform: uppercase;
            font-weight: 700;
            border: 1px solid $news-block-green;
            border-radius: 4px;
            padding: 11px 24px;
        }
    }
}








