@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import '../styles/variables.scss';
@import "reset.scss";
@import "header.scss";
@import "news.scss";
@import "join.scss";
@import "footer.scss";



@mixin roboto {
    font-family: 'Roboto', sans-serif;
}


*, *:before, *:after{
    box-sizing: border-box;
}

body {
    @include roboto;
    padding: 0 24px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: $main-grey; 

}
    .container {
        max-width: 1600px;
        margin: 0 auto;

        @include breakpoint(xl){
            max-width: 1281px;
        }
        @include breakpoint(lg){
            max-width: 864px;
        }
        @include breakpoint(md){
            max-width: 724px;
        }
        @include breakpoint(sm){
            max-width: 472px;
        } 
    }



a {
    text-decoration: none;
    color: $main-grey; 
}



.lang{
    display: flex;
    cursor: pointer;
    &-icon{
        margin-right: 8px;
    }
    &-value{
        text-transform: uppercase;
        margin-right: 13px;
        font-size: 14px;
        font-weight: 700;
    }
    &-triangle-down{
        width: 0;
        height: 0;
        border-left:  3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid $white;
        margin-top: 5px;
    }
    &-triangle-down--dark{
        width: 0;
        height: 0;
        border-left:  3px solid transparent;
        border-right: 3px solid transparent;
        border-top: 6px solid $main-dark;
        margin-top: 5px;

    }
    &-dark{
        color: $main-dark;
    }
    @include breakpoint(lg){
        display: none;
    }
}

