@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'variables.scss';
@import "reset.scss";
@import "header.scss";
@import "news.scss";
@import "join.scss";
@import "footer.scss";



@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

.font-sm{
    font-size: 14px;
}
.bold{
    font-weight: $bold;
}

*, *:before, *:after{
    box-sizing: border-box;
}

body {
    @include roboto;
    font-size: 16px;
    line-height: 1.2;
    font-weight: $medium;
    color: $main-grey; 
    margin: 0 24px;

}
    .container, .container-footer {
        max-width: 1600px;
        margin: 0 auto;

        @include breakpoint(xl){
            max-width: 1281px;
        }
        @include breakpoint(lg){
            max-width: 864px;
        }
        @include breakpoint(md){
            max-width: 700px;
        }
        @include breakpoint(sm){
            max-width: 472px;
        } 
    }
    .container{
        @include breakpoint(xs){
            width: 312px;
        }
    }

a {
    text-decoration: none;
    color: $main-grey; 
}


.lang{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    @include breakpoint(lg){
        .triangle--down--dark{
            border-top: 6px solid $main-grey;
        }
    }

    i{
        margin-right: 8px;
        @include breakpoint(xs){
            color: $secondary-grey;
        }
    }
    &__value{
        text-transform: uppercase;
        margin-right: 20px;
        font-size: 14px;
        font-weight: $bold;
        @include breakpoint(xs){
             color: $secondary-grey;  
             font-size: 20px;
             text-transform: none;
        }

    }
    &__top{
        @include breakpoint(lg){
            display: none;
        }
    }
    &--bottom{
        padding: 11px;
        color: $main-dark;
        div {
            display: flex;
            align-items: center;
        }
        @include breakpoint(lg){
            padding: 34px;
            border-top: 1px solid $main-grey;
            border-bottom: 1px solid $main-grey;
            padding: 34px 0;
            color: $main-grey;

        }
        @include breakpoint(md){
            color: $main-grey;
        }
        @include breakpoint(xs){
            border-bottom: none;
        }
    }
}



.triangle-down-white, 
.triangle-down-dark, 
.triangle-up-dark,
.triangle-down-gray {
    position: absolute;
    width: 0;
    height: 0;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    top: 50%;right: 0;
    transform: translateY(-50%);
} 
.triangle-down-white{
    border-top: 6px solid $white;
}
.triangle-down-dark, .triangle-up-dark{
    border-top: 6px solid $main-dark;
}

.triangle-down-dark{
    @include breakpoint(lg){
        left: 100px;
    border-top: 6px solid $main-grey;

    }
    @include breakpoint(xs){
        border-top: 6px solid $secondary-grey;

    }
}
.triangle-up-dark{
    transform: rotate(180deg);
    @include breakpoint(xs){
        border-top: 6px solid $secondary-grey;
    }
}
.triangle-down-gray{
    border-top: 6px solid $main-grey;
}

.lang__list{
    display: none;
    .lang__list-item{
        display: flex;
        padding: 13px 0;
        img{
            margin-right: 13px;
            margin-left: 26px;
        }
    }
    @include breakpoint(xs){
        display: block;
    }
}
