@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'variables.scss';
@import "reset.scss";
@import "header.scss";
@import "news.scss";
@import "join.scss";
@import "footer.scss";
@import "temp.scss";
@import "hamburger.scss";

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

.font-sm{
    font-size: 14px;
}

.display-block{
    display: block !important;
}
.active-footermenu-color{
    color: $main-dark !important;
}
.bold{
    font-weight: $bold;
}

body {
    @include roboto;
    font-size: 16px;
    line-height: 1.2;
    font-weight: $medium;
    color: $main-grey; 
    margin: 0 24px;

}
.container, .container-footer {
        max-width: 1600px;
        margin: 0 auto;
        @include breakpoint(lg){
            max-width: 1280px;
        }
    }
    .container{
        @include breakpoint(md){
            max-width: 864px;
        }
        @include breakpoint(sm){
            max-width: 700px;
        } 
        @include breakpoint(xs){
            max-width: 472px;
        } 
        @include breakpoint(xxs){
            max-width: 312px;
        } 
    }

.lang{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    i{
        margin-right: 8px;
        @include breakpoint(xs){
            color: $secondary-grey;
        }
    }
    &__value{
        text-transform: uppercase;
        margin-right: 20px;
        font-size: 14px;
        font-weight: $bold;
        @include breakpoint(xxs){
             color: $secondary-grey;  
             text-transform: none;
        } 

    }
    &__top{
        @include breakpoint(md){
            display: none;
        }
            }

    &--bottom{
        padding: 11px;
        color: $main-dark;
        @include breakpoint(md){
            padding: 34px 0;
            color: $main-grey;   
            i {
                color: $main-grey;
            }     
        }
    }
}

.triangle-down-white, 
.triangle-down-dark, 
.triangle-up-dark,
.triangle-down-gray {
    position: absolute;
    width: 0;
    height: 0;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    top: 50%;right: 0;
    transform: translateY(-50%);
} 
.triangle-down-white{
    border-top: 6px solid $white;
}
.triangle-down-dark, .triangle-up-dark{
    border-top: 6px solid $main-dark;
}

.triangle-down-dark{
    @include breakpoint(md){
        border-top: 6px solid $main-grey;
    }

}
.triangle-up-dark{
    transform: rotate(180deg);
    @include breakpoint(xxs){
        border-top: 6px solid $secondary-grey;
    }
}
.triangle-down-gray{
    border-top: 6px solid $main-grey;
}

.lang__list{
    display: none;
    .lang__list-item{
        display: flex;
        padding: 13px 0;
        cursor: pointer;
        img{
            margin-right: 13px;
            margin-left: 26px;
        }
    }
    @include breakpoint(xxs){
        display: block;
    }
}
